<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button{
        background: #2ADE3C;
        color: #FFF;
      }
      div{
        display:flex;
        justify-content:space-around;
      }
    </style>
    <div>
      <paper-button class="pink" on-click="addTask">Add Task</paper-button>
    </div>
    <h3>Todo:</h3>
    <dom-repeat
      items="{{tasks}}"
      as="task"
      filter="isNotCompleted"
      observe="completed">
      <template>
        <div>
          <paper-checkbox class="styled" checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="username" value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>
    <h3>Completados</h3>
    <dom-repeat
      items="{{tasks}}"
      as="task"
      filter="isCompleted"
      observe="completed">
      <template>
        <div>
          <paper-checkbox class="styled" checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="username" value="{{task.name}}"></paper-input>
        </div>
      </template>

    </dom-repeat>
  </template>

  <script>
    /**
     * `check-list`
     * Awesome chek-list
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          tasks:{
            type: Array,
            value: () => []
          }
        };
      }

      addTask(){
        const newTask = {
          name: '',
          completed: false
        }
        this.push('tasks',newTask)
      }

      isNotCompleted(task){
        return !task.completed
      }

      isCompleted(task){
        return task.completed
      }
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
